{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"><!-- google font -->
    <link rel ="stylesheet" type="text/css" href = "{% static 'home/main.css' %}">
    <link rel ="stylesheet" type="text/css" href = "{% static 'home/header_css.css' %}">
    <title> Ubook </title>
    <script src="{% static 'home/script.js' %}"></script>
</head>

<body>
<header>
    <div id="header_bar">
        <div id="main_logo">
                <img id="ubook_logo" src="{% static 'home/symbollogo.png' %}" alt="ubook logo"/>
        </div>

        <form id="login" action="/login" method="POST" enctype="multipart/form-data" onsubmit="login_user();return false;">
            {% csrf_token %}
            <div id="username_div">
                <label>E-mail</label>
                <br>
                <input type="text" id="login_username" placeholder="Login" name="email">
            </div>
            <div id="pass_div">
                <label>Password</label>
                <br>
                <input type="password" id="login_password" placeholder="Password" name="password">
            </div>
            <input type="submit" id="login_btn" value="Log In">

        </form>
        <p id="invalid" style="display: none; color: white">Invalid E-mail/Password</p>
    </div>
</header>

<div class = "">
    {% block content %} {% endblock content %}
</div>


</body>
</html>