{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel ="stylesheet" type="text/css" href = "{% static 'home/main.css' %}">
    <link rel ="stylesheet" type="text/css" href = "{% static 'home/header_css.css' %}">
    <title> Ubook </title>
</head>

<body>
<header>
    <div id="header_bar">
        <div id="main_logo">
            <a href="/home">
                <img id="ubook_logo" src="{% static 'home/ubook_logosymbol.png' %}" alt="ubook logo"/>
            </a>
        </div>
        <div id="link_div">
            <a href = "/user_profile">
                Profile
            </a>
            <a href = "/blog">
                Blog
            </a>
            <a href = "/message">
                Message
            </a>
        </div>
        <div id="login">
            <div id="username_div">
                <label>Username</label>
                <br>
                <input type="text" id="username" placeholder="Login">
            </div>
            <div id="pass_div">
                <label>Password</label>
                <br>
                <input type="password" id="password"/>
            </div>
            <button id="login_btn">Log In</button>

        </div>

    </div>
</header>

<div class = "container">
    {% block content %} {% endblock content %}
</div>


</body>
</html>