{% load static %}
<!doctype html>
<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel ="stylesheet" type="text/css" href = "{% static 'home/main.css' %}">
    <title> Ubook </title>
</head>

<body>
<div class="topnav">
    <a href = "/home">
        <img id = "main_logo"  src="{% static 'home/ubook_logo.png' %}" alt="logo" />
    </a>
    <a href = "/user_profile">
        Profile
    </a>
    <a href = "/blog">
        Blog
    </a>
    <a href = "/message">
        Message
    </a>
</div>
<div class = "container">
    {% block content %} {% endblock content %}
</div>


</body>
</html>