{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div id="container">
    <h1 class="shimmer">WELCOME</h1>

    <div class="content">
        <form id="signup-form" action="/signup" method="POST" enctype="multipart/form-data" class="sign-form" onsubmit="user_signup();return false;">
            <p>Not a member yet?</p>
            <h2>Easy sign-up</h2>
<!--            <form action="/signup">-->
                {% csrf_token %}
                <input type="text" class="input2" id="firstname" placeholder="First Name" name="firstname"/></br>
                <input type="text" class="input2" id="lastname" placeholder="Last Name" name="lastname"/></br>
                <input type="text" class="input2" id="email" placeholder="UB E-mail" name="email"/></br>
                <input type="password" class="input2" id="sign_password" placeholder="Choose a password" name="sign_password"/></br></br>
                <p class="warning">Form Incomplete</p>
                <input type="submit" class="btn" value="Sign up"></br></br>
<!--            </form>-->
        </form>
    </div>
</div>
{% endblock content %}