{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div id="container">
    <h1 class="shimmer">WELCOME</h1>

    <div class="content">
        <div class="sign-form">
            <p>Not a member yet?</p>
            <h2>Easy sign-up</h2>
<!--            <form action="/signup">-->
                <input type="text" class="input2" id="firstname" placeholder="First Name"/></br>
                <input type="text" class="input2" id="lastname" placeholder="Last Name" /></br>
                <input type="text" class="input2" id="email" placeholder="UB E-mail"/></br>
                <input type="password" class="input2" id="sign_password" placeholder="Choose a password" /></br></br>
                <p class="warning">Form Incomplete</p>
                <button type="signup" class="btn" onclick="do_signup()">Sign up</button></br></br>
<!--            </form>-->
        </div>
    </div>
</div>
{% endblock content %}