{% extends "user_profile/user_base.html" %}
<!--{% load static %}-->
{% block content %}
<main>
    <div class="main_container" id="cover">
        <div id="profile_img_div">
            <img id="profile_img" src="{% static 'user_profile/profile-placeholder.png' %}" alt="profile image"/>
        </div>
        <div id="profile_username">
            <p>User Name</p>
        </div>

        <div id="info_footer">

            <a href="#"><div class="profile_btn" id="about_btn" alt="About">
                <p>About</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="photos" alt="Photos">
                <p>Photos</p>
            </div></a>
            <a href="/message"><div class="profile_btn" id="send_private_msg" alt="Send Private Message">
                <p>Message</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="friend_request" alt="Send Friend Request">
                <p><span class="blue bold">+</span> Friend</p>
            </div></a>

        </div>
    </div>




    <div class="container">
        <div class="post_header">
            <img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>

            <p>Friend</p>

        </div>
        <div class="post">
            <p>
                This is definitely my fave part of the year. Don't you just love quarantine season?
            </p>
        </div>
        <div class="add_comment_post_div">
<!--            <input type="text" class="followup" id="followup1">-->
            <textarea class="followup" id="followup1"></textarea>
            <button class="followup_comment_btn" onclick="send_followup('followup1')">Comment</button>
        </div>

    </div>
    <div class="container">
        <div class="post_header">

            <img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>

            <p>Friend</p>
        </div>
        <div class="post">
            <p>
                D's get degrees. Know what I'm sayin?
            </p>
        </div>
    </div>
    <div style="height: 50px"></div>


</main>
{% endblock content %}