{% extends "user_profile/user_base.html" %}
<!--{% load static %}-->
{% block content %}
<main>
    <div class="container" id="cover">
        <div id="profile_img_div">
            <img id="profile_img" src="../../static/profile-placeholder.png" alt="profile image"/>
        </div>
        <div id="profile_username">
            <p>User Name</p>
        </div>

        <div id="info_footer">

            <a href="#"><div class="profile_btn" id="about_btn" alt="About">
                <p>About</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="photos" alt="Photos">
                <p>Photos</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="send_private_msg" alt="Send Private Message">
                <p>Message</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="friend_request" alt="Send Friend Request">
                <p><span class="blue bold">+</span> Friend</p>
            </div></a>

        </div>
    </div>




    <div class="container">
        <div class="post">

        </div>
        <div class="feedback">

        </div>
    </div>
    <div class="container">

    </div>


</main>
{% endblock content %}