{% extends "user_profile/user_base.html" %}
<!--{% load static %}-->
{% block content %}
<main>
    <div class="main_container" id="cover">
        <div id="profile_img_div">
            <img id="profile_img" src="{% static 'user_profile/profile-placeholder.png' %}" alt="profile image"/>
        </div>
        <div id="profile_username">
            <p>User Name</p>
        </div>

        <div id="info_footer">

            <div class="prof_padding"></div>
            <!--<a href="#"><div class="profile_btn" id="about_btn" alt="About">
                <p>About</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="photos" alt="Photos">
                <p>Photos</p>
            </div></a>-->
            <a href="/message"><div class="profile_btn" id="send_private_msg" alt="Send Private Message">
                <p>Message</p>
            </div></a>
            <a href="#"><div class="profile_btn" id="friend_request" alt="Send Friend Request">
                <p><span class="blue bold">+</span>Friend</p>
            </div></a>

        </div>
    </div>


    <div id="feed_wall">

        {% for post in posts %}
        <div class="container" >
            <div class="post_block" id={{post.0.id}}>
                <div class="post_header">
                    <img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>

                    <p>{{post.0.author}}</p>

                </div>

                <div class="post">
                    {% if post.0.media != None %}

                    <img src= "{{post.0.media}}" style="max-width: 300px; max-height: 300px"><br>

                    {% endif %}
                    <p>
                        {{post.0.content}}
                    </p>

                    {% if post.0.likes == 1 %}
                    <button class="likebtn" onclick="sendLike(this);" style="background-color: #65ff74">
                        <img class="likebtn" src="{% static 'user_profile/like.png' %}">
                    </button>
                    {% else %}
                    <button class="likebtn" onclick="sendLike(this);">
                        <img class="likebtn" src="{% static 'user_profile/like.png' %}">
                    </button>
                    {% endif %}

                </div>
                <br><br>
                <div class="comments">
                    {% for comment in post.1 %}

                    <div class="commentbox" id={{comment.id}}>
                        <div class="post_header">
<!--                            <img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>-->

                            <p>{{comment.author}}</p>

                        </div>
                        <div class="post">
                            <p>
                                {{comment.content}}
                            </p>
                        </div>
                    </div>

                    {% endfor %}
                </div>

                <div class="add_comment_post_div">
                    <textarea class="followup" id="followup1"></textarea>
                    <button class="followup_comment_btn" onclick="sendComment(this);">Comment</button>
                </div>

            </div>


        </div>

        {% endfor %}



    </div>
    <div style="height: 50px"></div>
    <div class="notifications">asdfasdf</div>


</main>
{% endblock content %}