{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UBook - Profile</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"><!-- google font -->
    <link rel="stylesheet" type="text/css" href = "{% static 'user_profile/user_css.css' %}">

    <!-- custom color #255FAC -->
    <style>
        #cover{
            background-image: url("{% static 'user_profile/profile_bg.jpg' %}");
        }
    </style>
    <script src="{% static 'user_profile/post_script.js' %}"></script>
    <script src="{% static 'user_profile/ws_script.js' %}"></script>
</head>
<body onload="get_wall_posts()">
<header>
    <div id="header_bar">
        <div id="main_logo">
            <a href="/home">
                <img id="ubook_logo" src="{% static 'user_profile/new_symbollogo.png' %}" alt="ubook logo"/>
            </a>
        </div>



        <div id="logged_in">
            <div class="pad40percent"></div>
            <div id="user_mini_top_div">

            <a href="/user_profile" ><img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>
                <p class="user_pic_tag">User Name</p></a>
            </div>
            <div class="menu">

                        <ul>
                            <li>
                                <a href="/home"><p>Home</p></a>
                            </li>
                            <li>
                                <a href="/blog"><p>Blog</p></a>
                            </li>
                            <li>
                                <a href="/message"><p>Message</p></a>
                            </li>
                        </ul>
            </div>
        </div>


        <div id="login">
            <div id="username_div">
                    <label>Username</label>
                    <br>
                    <input type="text" id="username" placeholder="Login">
                </div>

                <div id="pass_div">
                    <label>Password</label>
                    <br>
                    <input type="password" id="password"/>
                </div>
                <button id="login_btn">Log In</button>
        </div>

    </div>
</header>

{% block content %} {% endblock content %}

</body>
</html>