{% extends "login/base.html" %}
{% load static %}
{% block content %}
<style>

    .content{
        display: flex;
        justify-content: center;
        border: 3px steelblue;
    }

    .log-form{
        position: absolute;
        top: 30%;
        border: 3px solid blue;
        text-align: center;
        width:30%;
    }

    .sign-form{
        position: absolute;
        top: 50%;
        border: 3px solid orangered;
        text-align: center;
        width:30%;
    }

    body{
        height: 100vh;
        display:flex;
        justify-content: center;
        background: azure;
    }


</style>


    <div class="content">

        <div class="log-form">
          <h2>Login to your account</h2>
          <form action="/home">
            <input type="text" title="username" placeholder="username"/></br>
            <input type="password" title="username" placeholder="password" /></br>
            <button type="submit" class="btn">Login</button></br>
            <a class="forgot" href="#">Forgot Username?</a></br></br>
            <button type="signup" class="btn">Sign Up</button></br></br>
              Above button disappears after clicked
          </form>
        </div>

        <div class="sign-form">
            This reveals after above is clicked</br>
            <h2>Enter your credentials</h2>
            <form action="/signup">
                <input type="text" title="firstname" placeholder="First Name"/></br>
                <input type="text" title="lastname" placeholder="Last Name" /></br>
                <input type="text" title="email" placeholder="UB E-mail"/></br>
                <input type="text" title="sign_password" placeholder="Choose a password" /></br></br>
                <button type="signup" class="btn">Submit</button></br></br>
            </form>
        </div>
{% endblock content %}
