{% extends "login/base.html" %}
{% load static %}
{% block content %}
<style>

    .content{
        border: 3px steelblue;
    }

    .log-form{
        margin: auto;
        margin-top: 20%;
        display: block;
        border: 3px solid blue;
        text-align: center;
        width:60%;
    }

    .sign-form{
        margin: auto;
        margin-top: 10%;
        display: block;
        border: 3px solid orangered;
        text-align: center;
        width:60%;
    }

</style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="content">

        <div class="log-form">
          <h2>Login to your account</h2>
          <form action="/home">
            {% csrf_token %}
            <input type="text" title="username" placeholder="username"/></br>
            <input type="password" title="username" placeholder="password" /></br>
            <button type="submit" class="btn" href="blog.html">Login</button></br>
            <a class="forgot" href="#">Forgot Username?</a></br></br>
            <button type="signup" class="btn">Sign Up</button></br></br>
              Above button to disappear after clicked
          </form>
        </div>

        <div class="sign-form">
            This to reveal after above is clicked</br>
            <h2>Enter your credentials</h2>
            <form action="/signup">
                {% csrf_token %}
                <input type="text" title="firstname" placeholder="First Name"/></br>
                <input type="text" title="lastname" placeholder="Last Name" /></br>
                <input type="text" title="email" placeholder="UB E-mail"/></br>
                <input type="text" title="sign_password" placeholder="Choose a password" /></br></br>
                <button type="signup" class="btn" href="user_profile.html">Submit</button></br></br>
            </form>
        </div>
    </div>
{% endblock content %}
