
body {
    background: #1a001a;
    color: whitesmoke;
    margin-top: 1rem;
  }
#profile-side-bar {
    background: #1a001a;
   
}
#posts {
    float: right;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid; 
}
.side-bar {
    float: left;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid; 
}
.post {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid; 
}
.post-meta {
    padding-bottom: 1px;
    margin-bottom: 4px;
}
