{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UBook - Blog</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"><!-- google font -->
    <link rel ="stylesheet" type="text/css" href = "{% static 'blog/main.css' %}">
    <script src="{% static 'blog/createSocket.js' %}"></script>
    <script src="{% static 'blog/ajax.js' %}"></script>

</head>


  <body>
  <header>
      <div id="header_bar">
          <div id="main_logo">
              <a href="/">
                  <img id="ubook_logo" src="{% static 'user_profile/new_symbollogo.png' %}" alt="ubook logo"/>
              </a>
          </div>



          <div id="logged_in">
              <div class="pad40percent"></div>
              <div id="user_mini_top_div">

                  <a href="/user_profile" ><img class="user_mini_pic" src="{% static 'user_profile/profile-placeholder.png' %}"/>
                      <p class="user_pic_tag">{{user.first_name}} {{user.last_name}}</p></a>
              </div>
              <div class="menu">

                  <ul>
                      <li>
                          <a href="/user_profile"><p>Profile</p></a>
                      </li>
                      <li>
                          <a href="/message"><p>Message</p></a>
                      </li>
                  </ul>

              </div>
              <button class="logout_btn" onclick="logout_user()">Log out</button>
          </div>
      </div>
  </header>

   

  <div class = "container">
    {% block content %} {% endblock content %}
  </div>

</body>
</html>