{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" type="text/css" href = "{% static 'blog/main.css' %}">
    <script src="{% static 'blog/createSocket.js' %}"></script>
    <script src="{% static 'blog/ajax.js' %}"></script>
    <style>

        .content{
            border: 3px steelblue;
        }

        .log-form{
            margin: auto;
            margin-top: 20%;
            display: block;
            border: 3px solid blue;
            text-align: center;
            width:60%;
        }

        .sign-form{
            margin: auto;
            margin-top: 10%;
            display: block;
            border: 3px solid orangered;
            text-align: center;
            width:60%;
        }

    </style>
    <title> Ubook </title>
</head>

  <body>
    <div class="topnav">
      <a href = "/">
        <img id = "main_logo"  src="{% static 'blog/symbollogo.png' %}" alt="logo" />
      </a>
        <a href = "/user_profile">
            Profile
        </a>
        <a href = "/blog">
            Blog
        </a>
        <a href = "/message">
            Message
        </a>
        <div id="logout">
            <button class="logout_btn" onclick="logout_user()" style="float: right">Log out</button>

        </div>
    </div>

   

  <div class = "container">
    {% block content %} {% endblock content %}
  </div>

</body>
</html>