
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class= "content-container">

    <div id='write_post'>
        <form id="postinput" action="" method="POST" enctype="multipart/form-data" onsubmit="sendPost(); return false;">
            {% csrf_token %}
            <label for = "post-body">What's on your mind?  </label>
            <input id= "post-body" type="text" name="post-body"><br>

            <label for="post-media">attachment</label>
            <input id="post-media" type="file" name="post-media">

            <input type="submit" value="Post to UBOOK"> 
        </form>
   </div>
    
    <br>
    <div class = "posts-container"> 
        <div class = "posts">
    
    {% for post in posts %}

        <article class = "post" id={{post.id}}>
           
            <div class = "post-content">
                <div class ="post-box">
                    <img src= "../../ {{post.media.url}}" >
                    {{post.content}} 
                </div>
                
                <div class="interact">
                    
                    <button class = "button" type="button">
                        <i class ="emoji">&#128077;</i>
                    </button>
                    
                    
                    <form>
                        <label for = "post-comment">comment: </label>
                        <input id= "post-comment" type="text" name="comment">
                        <input type="submit" value="comment"> 
                    </form>
                </div>
                
            </div>
            <div class = "post-meta">
                {{post.author}}
                Published: {{post.date_posted}}
            </div>
        </article>

        <div class= "line-break"></div>


    {% endfor %}
        </div>
    </div>

</div>
    {% endblock content %}


