{% extends "blog/base.html" %}
{% block content %}
   
   <div id='write_post'>
        <form action="/form-path" method="post" enctype="multipart/form-data">
            <label for = "post-title">title of post: </label>
            <input id= "post-title" type="text" name="title"><br>

            <label for = "post-body">post: </label>
            <input id= "post-body" type="text" name="body"><br>

            <input type="submit" value="Post to UBOOK"> 
        </form>
   </div>
  
{% endblock content %}