/* custom color #255FAC */

body{
    background-color: #e9eaee;
    /*background-color: #EDF0F5;*/
    margin: 0;
    padding: 0;
    /*z-index: 0;*/
    font-family: 'Source Sans Pro', sans-serif, Arial, Helvetica;
    width: 100%;
    overflow-x: hidden;
}

header{
    z-index: 1;
    width: 100%;
    height: 11.5vh;
    /*background-color: #255FAC;*/
    background-color: #3B5998;
    border-bottom: solid 1px #364876;
}
input{
    border: solid 1px #202020;
}

button{
    cursor: pointer;
    outline: none;
}
ul{
    list-style: none;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}
.pad40percent{
    height: 100%;
    float: left;
    width: 40%;
}
#header_bar{
    margin: 0 auto;
    width: 90vw;
}
#main_logo{
    width: 50%;
    float: left;
    margin-top: 1.1%;
}
#logout{}

#login{
    width: 40%;
    float: right;
    margin-top: 30px;
    display: none;
}
#logged_in{
    width: 50%;
    float: left;
    margin-top: 2.8%;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}
#logged_in p{
    /*position: relative;*/
    margin-top: 5px;
    float: left;
    color: #fcfffa;
}
#login label{
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    color: #fcfffa;
}
#ubook_logo{
    width: 27%;
    transition-duration: .6s;
}
#ubook_logo:hover{
    width: 33%;
    transition-duration: .6s;
}
#username_div{
    /*color: #fcfffa;*/
    float: left;
    display: inline-block;
    margin-left: 140px;
    margin-right: 10px;
}
.user_mini_pic{
    margin: 1vh;
    background-color: #DCDCDC;
    padding: 1px;
    width: 30px;
    border-radius: 15px;
    float: left;
    transition-duration: .6s;
}
.user_pic_tag{
    font-size: 0;
    /*overflow: hidden;*/
}
#user_mini_top_div{
    min-width: 20%;
    max-width: 30%;
    /*position: relative;*/
    padding: 0 0 0 20%;
    float: left;
    margin: 16px 0 0 0;

}
#user_mini_top_div:hover .user_mini_pic{
    transition-duration: .6s;
    transform: translate(0px,-23px);
}
#user_mini_top_div:hover .user_pic_tag{
    font-size: inherit;
    transition-duration: .7s;
}

#user_mini_top_div p{
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}
.menu{
    float: left;
}
.menu ul li{
    margin: 0 1vh 0 1vh;
    float: left;
}
.menu ul li:hover{
    transition-duration: .25s;
    border-bottom: solid #e9eaee 3px;
}
#pass_div{
    /*color: #fcfffa;*/
    float: left;
    display: inline-block;
}

#login_btn{
    color: #FFFFFF;
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3864bc;
    border: solid 1px #303030;
    padding: 2px;
    width: 60px;
}
#login_btn:hover{
    background-color: #3B5998;
}
.logout_btn{
    color: #FFFFFF;
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3864bc;
    border: solid 1px #303030;
    padding: 2px;
    width: 60px;
}
.logout_btn:hover{
    background-color: #3B5998;
}
#cover{
    margin-top: 0;
    background-image: url("{% static 'user_profile/profile_bg.jpg' %}");
    background-color: #ffffff;
    left: 20vw;
    height: 400px;
    width: 850px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 2%;
}
.main_container{
    background-color: #ffffff;
    left: 20vw;
    /*height: 100px;*/
    max-height: 400px;
    width: 850px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 2%;
}
.container{
    background-color: #ffffff;
    left: 20vw;
    width: 850px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 2%;
    overflow: hidden;
}

#info_footer{
    text-align: center;
    background-color: inherit;
    height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: solid #ede8e8 1px;
    overflow: hidden;

}
#profile_img_div{
    position: absolute;
    height: 160px;
    width: 160px;
    bottom: 18px;
    left: 18px;
    border-radius: 3px;
    background-color: inherit;
    padding: 3px;
    overflow: hidden;
    z-index: 1;
}
#profile_img_div:hover{
    border: solid #303030 1px;
    padding: 1px;
    transition-duration: 1s;
}
#profile_img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
#profile_username{
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 200px;
    font-weight: 600;
    font-size: 1.4em;
}
.profile_btn{
    text-align: center;
    font-size: 1.2em;
    background-color: inherit;
    border-left: 1px #202020 solid;
    position: relative;
    width: 100px;
    bottom: 0;
    /*z-index: 1;*/
    float: left;
    height: 95%;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}
.profile_btn:hover{
    transition-duration: .25s;
    background-color: #e9eaee;
}
.profile_btn p{
    margin-top: 5px;
}
/*#about_btn{*/
/*    margin-left: 210px;*/
/*}*/
.prof_padding{
    width: 25%;
    height: 95%;
    float: left;
    bottom: 0;

    /*overflow: hidden;*/
}
#friend_request{
    border-right: 1px #202020 solid;
}
.blue{
    color: #3B5998;
}
.bold{
    font-weight: 800;
}
.bigger{
    font-size: 1.2em;
}
.post_block{
    text-align: left;
    display: block;
}
.post_header{
    min-height: 40px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border-bottom: solid #E9EAEE 1px;
}
.post_header p {
    float: left;
}
.post{
    padding: 5px 12px 5px 12px;
    min-height: 1.1rem;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    border-bottom: solid #E9EAEE 1px;
}
.add_comment_post_div{
    border-top: #E9EAEE 1px solid;
    padding: .3%;
    overflow: hidden;
}
.followup{
    position: relative;
    padding: 2px;
    width: 85%;
    max-width: 85%;
    min-height: 1.5rem;
    margin: 1%;
    float: left;
    border-radius: 3px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.followup_comment_btn{
    width: 10%;
    margin: 1%;
    position: relative;
    float: left;
    top: 17px;
    border: 0;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.followup_comment_btn:hover{
    background-color: #d1f0db;
}
.followup_comment_btn:active{
    background-color: #88a08d;
}
.likebtn{
    float:left;
    width: 26px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: none;
}
.likebtn:hover{
    background-color: #d1f0db;
}
.likebtn:active{
    background-color: #65ff74;
}

#notifications{
    position: absolute;
    top: 30%;
    left: 1%;
    min-width: 15vw;
    max-width: 15vw;
    max-height: 50vh;
    overflow: scroll;
}

#notificationlabel{
    background-color: #3864bc;
    color: white;
    padding: 2%;
}

#notificationcontent{
    background-color: white;
    color: black;
    padding: 2%;
    overflow: hidden;
}

.note{
    border: #3864bc 2px solid;
    min-height: 50px;
}

.notifuser{
    display: none;
}