
body {
    background-color:#e9eaee;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    color:black;
    /*margin: 1rem 0 0 0;*/
}
.topnav {
    background-color: #3B5998;
    width: 100%;
    height: 80px;
}
.nav_links {
    width: 20px;
    height: 20px;
    color: white;
}
.container {
    width:100%;
    margin: 0 1% 0 1%;
}
#main_logo{
    /*width: 100px;*/
    height: 65px;
    float: left; 
}

/* .content-container {
    background-color:#DCDCDC;
    display: flex;
    justify-content: center; 
    width: 95%;
    height: 95%;
    
}  */


.button {
    background-color: whitesmoke;
    /*border-radius: 4px;*/

}
.logout_btn{
    color: #FFFFFF;
    float: left;
    display: inline-block;
    margin: 20px 10px 0 10px;
    border-radius: 5px;
    background-color: #3864bc;
    border: solid 1px #303030;
    padding: 2px;
    width: 60px;
}
.logout_btn:hover{
    background-color: #3B5998;
}
  

#notifications{
    /* position: absolute; */
    /* top: 50%;
    left: 1%;
    height: 40%;
    width: 30%; */
    
    
}

#notificationlabel{
    background-color: #3864bc;
    color: white;
    padding: 2%;
    word-wrap: break-word;
}

#notificationcontent{
    background-color: white;
    color: black;
    padding: 2%;
    overflow: hidden;
}

.note{
    border: #3864bc 2px solid;
    /* min-height: 50px; */
}

.notifuser{
    display: none;
}
/* .container {
    font-family: "Lucida Console", Courier, monospace;
} */
 #chat_container {
    font-family: "Lucida Console", Courier, monospace;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     margin: 10px;
 } 

 #notifications {
    width: 100px;
    height: 90%;
    order: 1;
    text-align: center;
    font-size: 10px;

 }
 #messenger {
     width: 900px;
     height: 90%;
     order: 2;
     text-align: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
 }

 .log {
     width: 700px;
     height: 600px;
     background-color:  #c3edfd;
     border: black 2px;
     border-style: solid;
     border-radius: 5%;

     

 }
 .userInChat {
    font-size: 15px;
 }
 #messagelog {
    order: 1;
 }
 #messageinput {
    order:2;
 }
 .yourMessage {
    text-align: right;
    margin-right: 10px;
 }
 .otherMessage {
     margin-left: 10px;
    text-align: left;
 }
 #messageInput {
    text-align: right;   
 }
